doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/material-design-lite/material.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/material-design-lite/material.js')
    script(src='./socket.io/socket.io.js')
  body
    block content

