doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/material-design-lite/material.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/material-design-lite/material.js')
    script(src='./socket.io/socket.io.js')
  body    
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        div.mdl-layout__header-row
          span.mdl-layout-title
          div.mdl-layout-spacer
          nav.mdl-navigation.mdl-layout--large--screen-only
            a.mdl-navigation__link(href="#") home
            a.mdl-navigation__link(href="#") configure
            a.mdl-navigation__link(href="#") message
      div.mdl-layout__drawer
        span.mdl-layout-title
          nav.mdl-navigation
            a.mdl-navigation__link(href="#") home
            a.mdl-navigation__link(href="#") configure
            a.mdl-navigation__link(href="#") message
      main.mdl-layout__content
        div.page-content
          block content
